html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src="https://code.jquery.com/jquery-3.2.1.js"
				integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
				crossorigin="anonymous")
	title Profile
	style(type='text/css').
		p{
			text-align: center !important;
		}

		#new{
			padding: 5px 50px 5px 50px;
			border: 5px dotted #4E6D56;
		}

		.fnav{
				bottom:0;
			}

	body
		include header.pug

		h1 Welcome: #{user.username} 
			form(action="/images" method="POST" enctype="multipart/form-data" style="padding-top:25px;")
				input(type="file" placeholder="Upload Picture" name="file")
				input(type="submit" placeholder="submit" name="submit")
		p
			a(href="/event/createActivity" class="links" id="new") Post a new message? 
		h1.tOne Activities
		each activities in activities
			p
			div.blog  
			ul.title 
				p #{activities.activity}
			ul.message
				p #{activities.city}
				p #{activities.description} 
				p #{activities.meetpoint}
				p #{activities.date} 
				p #{activities.time}
			//- input(type="text" value/name="#{message.id}"")

		include footer.pug		