html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
				integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
				crossorigin="anonymous")
	title Profile
	style
		include main.css
	body
		include header.pug

		h1 Welcome: #{user.username} 
			form(action="/images" method="POST" enctype="multipart/form-data")
				input(type="file" placeholder="Upload Picture" name="file")
				input(type="submit" placeholder="submit" name="submit")
		p
			a(href="/event/postmessage" class="links") Post a new message? 
		h1 Messages
		each message in messages
			p  
			br 
			| Title: #{message.title}
			br
			| Message: #{message.message}
			//- input(type="text" value/name="#{message.id}"")

		include footer.pug		